*{
    margin: 0;
    box-sizing: border-box;
  }
  body {
    background-color: rgb(190, 182, 211);
  }
  p {text-align: center;
    margin-top: 50px;
  }
  .grid-container{ 
    display: grid;
    gap: 15px;
    margin-top: 80px;
    grid-template-areas:
    "a a b"
    "c d d"
    "c e e";
    grid-template-columns: 300px 90px 240px;
    grid-template-rows: 210px 90px 120px;
    justify-content: center;
  }
  .grid-1{
    background-color: rgb(237, 69, 35);
    grid-area: a;
  }
  .grid-2{
    background-color: rgb(208, 190, 30);
    grid-area: b;
  }
  .grid-3{
    background-color: rgb(39, 197, 73);
    grid-area: c;
  }
  .grid-4{
    background-color: rgb(18, 126, 159);
    grid-area: d;
  }
  .grid-5{
    background-color: rgb(18, 126, 159);
    grid-area: e;
  }
  
    @media screen and(max-width:1440px){
       .grid-template-rows {2
            
           
        }
    }
    @media screen and (max-width:375px){
        .grid-template-column{100%;
        }
    }
